<!doctype html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Profile Page</title>
</head>

<body>
    <h1>Profile</h1>

    <div class="form-group">
      <h6>Username</h6>
      <input class="form-control" placeholder="username" id="username" />
    </div>

    <div class="form-group">
      <h6>Password</h6>
      <input class="form-control" placeholder="password" id="password" />
    </div>

    <div class="form-group">
      <h6>First Name</h6>
      <input class="form-control" placeholder="first name" id="firstName" />
    </div>

    <div class="form-group">
      <h6>Last Name</h6>
      <input class="form-control" placeholder="last name" id="lastName" />
    </div>

    <div class="form-group">
      <h6>Email</h6>
      <input class="form-control" placeholder="email" id="email" />
    </div>

    <div class="form-group">
      <h6>Role</h6>
      <input class="form-control" placeholder="role" id="role" />
    </div>


    <button type="button" class="btn btn-success" id="updateBtn">
        Update Profile
    </button>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonym
    ous"></script>

    <script src="../../services/user.service.client.js"></script>
    <script src="profile.controller.client.js"></script>
</body>

</html>
